<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            h1 {
                color: darkmagenta;
                text-align: center;
                margin 30px;
            }
            form {
                text-align: center;
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                }
        </style>
    </head>
    <body>
        <h1>Grant access to Demand & Supply Partners for Edge Reporting UI</h1>
        <br><br>
        <form method="POST" action="">
            <input name="name" placeholder="Name of Advertiser/Publisher">
                <br><br>
            <select name="choice">
                <option value="ofw_demand">ofw_demand</option>
                <option value="ofw_publisher">ofw_publisher</option>
            </select>
                <br><br>
            <input type="submit" style="font-size: larger; color: black; background-color: teal" value= "Submit">
        </form>
        <br><br><br><br>
        <img src="/static/veranik.jpg"  width="10%" >
    </body>
</html>
